header {
  background-color: #bfbdb8;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  position: relative; 
}

.adicionar-container {
  display: flex;
  align-items: center; 
  gap: 10px; 
}

#adicionarComanda {
  width: 40px; 
  height: auto;
  cursor: pointer; 
}

.subtitulo {
  font-size: 18px; 
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; 
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
}
p {
  font-size: large;
  margin-right: 40%;
  width: 95%;
  margin-top: -4%;
}
#comandas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  margin-top: 1%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
}
#comanda1 {
  max-width: 30%;
  height: auto;
  max-height: 30%;
  background-color: #fffffd;
  border: 1px solid black;
  border-radius: 12px;
  padding: 0.5%;
}
h2 {
  font-size: larger;
  display: flex;
  justify-content: center;
}
#pesquisacomanda {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  position: relative;
}
#numeroMesa {
  max-width: 95%;
  margin-right: 5%;
  margin-top: 1%;
}
#id {
  max-width: 95%;
}
li {
  display: flex;
  justify-content: center;
}
.valorcomanda {
  display: flex;
  justify-content: end;
  padding: 2%;
  color: green;
  font-weight: bold;
  margin-left: 1%;
  bottom: 0%;
  position: relative;
  margin: 2%;
}
.botaoremover {
  display: flex;
  background-color: red;
  margin-right: 2%;
  border: none;

  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  border-radius: 5px;
}
.botaofinalizar {
  display: flex;
  background-color: green;
  color: white;
  border: none;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  border-radius: 5px;
}
.botoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-end; 
  margin-top: auto; 
  width: 100%; 
  padding: 10px; 
}
.comandas {
  display: flex;
  flex-direction: column;
  max-width: 15%; 
  
  height: auto;
  background-color: #f6f4f0;
  margin: 1%;
  border-radius: 12px;
  box-sizing: border-box; 
  padding: 10px; 
  position: relative;
  flex-grow: 1;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
#numeroMesaAtualizar {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.pedidoComandaAtualizar,
.obsDoPedido,
.quantidade {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  position: relative;
}

#botaoAdicionarInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f6f4f0;
  cursor: pointer;
}

button[type="button"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f6f4f0;
  cursor: pointer;
}
.icone-container {
  display: flex;
  justify-content: flex-end; 
  margin-top: 10px; 
}

.iconelapis {
  width: 10%; 
  height: auto;
  float: right;
  cursor: pointer; 
}
.pedido-anterior {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #bfbdb8;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 1%;
}
.pedidos-anteriores {
  margin-bottom: 20px;
}
.nome-pedido-alterar {
  display: flex;
  position: relative;
  justify-content: center;
  left: 20%;
  top: 10px;
}
.obs-pedido-alterar {
  display: flex;
  position: relative;
  justify-content: center;
  left: 20%;
}
.quantidade-alterar {
  display: flex;
  position: relative;
  justify-content: center;
  left: 20%;
}
h3 {
  display: flex;
  position: relative;
}

